html {font-size: 16px;}
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
}



#calculator-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    border-radius: 2%;
    border: solid #444 1px;
    background: #fff;
}

#display {
    height: 4rem;
    font-family: Orbitron;
    font-size: 2.5rem;
    color: #20b2aa;
    text-align: right;
    line-height: 4rem;
    background:#000;
    padding: .2rem;
    border-radius: 3%;
}

#keys-container {
    padding: 4px;
}

.row {
    display: flex;
}

button {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 1%;
    margin: 0.5%;
    font-size: 3rem;
    background: none;
    color: #000;
    border-radius: 10%;
    cursor: pointer;
}

button.num-key,
button.deci-key {
    justify-content: flex-end;
    font-size: 3.5rem;
}

button.num-key, button.clear-key {
    font-family: Arial, Helvetica, sans-serif;
}

button.clear-key {
    font-size: 1.2rem;
}
button:active {
    transform: translateY(1px);
}

button.dbl-width,
div.dbl-width {
    width: 50%;
}
